<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medicalsupportsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MEDICALSUPPORTSYSTEM">
        <activity android:name=".Appointmants"></activity>
        <activity android:name=".doctors" />
        <activity android:name=".diagnosissection" />
        <activity android:name=".professionalsloggedin" />
        <activity android:name=".patientloggedin" />
        <activity android:name=".signuppatient" />
        <activity android:name=".signup" />
        <activity android:name=".register" />
        <activity android:name=".task2" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>